// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$green: #1EDD88;



$black: #333333;
$dark-gray:#242424;
$gray: #BBBBBB;
$light-gray: #DDDDDD;
$white: #FFFFFF;
$yellow: #FCCF35;
$red: #FB0E39;
$orange: #EF4C1C;
