// Specific CSS for your home-page
body {
  background-image: linear-gradient(#353535,#0c0c0c,);
    height: 100%;
    min-height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
  font-size: 15px;
  font-family: "Nunito";
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.flex-item-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
  height: 150px;
  width: 350px;
}
.flex-item{
  display:flex;
  justify-content:center;
}

.page-container {
  min-height: 80vh;
}
