// Import page-specific CSS files here.
@import "home";

.centered {
  margin: auto;
  text-align: center;
}

.yellowb {
  background-color: rgba(255, 166, 0, 0.7);
}


.newplaylist {
  min-height: 75vh;

}
