	<div class="tape-box tape-boxcontent">
			<section>
				<span class="cassette">
					<span class="inner_1">
						<span class="inner_2">
							<p class="fa fa-cog fa-spin left_w"></p>
							<p class="fa fa-cog fa-spin right_w"></p>
						</span>
					</span>
          <div id="trapezoid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
				</span>
			</section>
		</div>
