<div class="footer-container dark-gray">
    <div class="footer">
       <h4>Follow us on Social Media and become part of the growing Tapemix family</h4>
    </div>
    <div class="footer-links">
      <a href="https://www.github.com"><i class="fab fa-github yellow"></i></a>
      <a href="https://www.instagram.com"><i class="fab fa-instagram yellow"></i></a>
      <a href="https://www.facebook.com"><i class="fab fa-facebook yellow"></i></a>
      <a href="https://www.twitter.com"><i class="fab fa-twitter yellow"></i></a>
      <a href="https://www.linkedin.com"><i class="fab fa-linkedin yellow"></i></a>
    </div>
</div>