<div class="footer-container dark-gray">
    <div class="footer yellow">
       Follow us on Social Media and become part of the growing Tapemix family
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github yellow"></i></a>
      <a href="#"><i class="fab fa-instagram yellow"></i></a>
      <a href="#"><i class="fab fa-facebook yellow"></i></a>
      <a href="#"><i class="fab fa-twitter yellow"></i></a>
      <a href="#"><i class="fab fa-linkedin yellow"></i></a>
    </div>
</div>