<div class="card-box-cards">
  <% @playlists.each do |playlist| %>
    <div class="card-box">
      <div class="flex-container">
        <div class="card-img" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          <%= image_tag playlist.playlist_images, class: "card-img", style: "background-image" %>
        </div>
          <h2 class="yellow card-text-center-small"> <%= playlist.name %></h2>
          <p class="yellow p-card-text-center-small"><%= playlist.owner.capitalize %></p>
      </div>
    </div>
  <% end %>
</div>
