
<head>
  <link rel="stylesheet" href="assets/stylesheets/home.scss">
</head>

<body>
  <div class="homepage-container">
    <div class="home-text-container">
      <div class="app-name">
        <h1> TapeMix </h1>
      </div>
      <div class="tagline">
        <p> Let's make a tape </p>
      </div>
    </div>
</body>
