
<head>
  <link rel="stylesheet" href="assets/stylesheets/home.scss">
</head>

<body>
  <div class="homepage-container">
    <div class="home-text-container">
      <div class="app-name">
        <h1> TapeMix </h1>
      </div>
      <div class="tagline">
        <p> Let's make a tape </p>
      </div>
    </div>

  
    <div class="buttons-container">
      <div class="sign-in-button">
        <a href="#" class="btn btn-primary" role="button"> Sign In </a>
      </div>
      <div class="register-button">
        <a href="#" class="btn btn-link" role="button"> Register to make your tape </a>
      </div>
    </div>
  </div>

</body>

<h1>TapeMix#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>
<br>
<br>
<br>
<a class="yellow-button" href="#">Start now</a>
<br>
<br>
<br>
<br>

<a class="gray-button" href="#">Start now</a>



<br>
<br>
<br>
 <div class="content">
      <div class="cards">
        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>

        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>

        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>

        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>
      </div>
    </div>
