<h1>TapeMix#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>
<br>
<br>
<br>
<a class="yellow-button" href="#">Start now</a>
<br>
<br>
<br>
<br>

<a class="gray-button" href="#">Start now</a>



<br>
<br>
<br>
 <div class="content">
      <div class="cards">
        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>

        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>

        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>

        <div class="card" style="background-image: url(https://play-lh.googleusercontent.com/j-MLXrudwclqIlOZxRe90kOGS744GY0spVZF2OsEnJeMMxqa6Qxu1SwLiCmjQp8gIA)">
          Album
        </div>
      </div>
    </div>
