.yellow-button {
  color: $black;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.yellow-button:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.gray-button {
  color: $white;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  background: $gray;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
}

.gray-button:hover {
  background: rgb(126, 126, 126);
  color: $white;
  transition: .5s;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.yellow-button-small {
  color: $black;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.yellow-button-small:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.register-button {
  color: $yellow;
  font-family: "Nunito";
}

.yellow-btn-link {

  color: $yellow !important;
  font-family: "Nunito";
  font-size: 15px;
}

.btn-flat {
  color: $black;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.btn-flat:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}


.yellow-button-small-playlist {
  color: $black;
  padding: 3px 15px;
  border-radius: 11px;
  border: none;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-weight: bold;
}


.registration {
  text-align: center;
  margin-top: 45px;
}

.destroy {
  margin-left: 140px;
  position: relative;
  bottom: 10px;
}
