.yellow-button {
  color: $black;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.yellow-button:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.gray-button {
  color: $white;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  background: $gray;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
}

.gray-button:hover {
  background: rgb(126, 126, 126);
  color: $white;
  transition: .5s;
  padding: 20px 64px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.yellow-button-small {
  color: $black;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.yellow-button-small:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.yellow-button-sign-in {
  color: $black;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.yellow-button-sign-in:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.register-button {
  color: $yellow;
  font-family: "Nunito";
}

.yellow-btn-link {

  color: $yellow !important;
  font-family: "Nunito";
  font-size: 15px;
}

.btn-flat {
  color: $black;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.btn-flat:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  padding: 10px 32px;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}


.yellow-button-small-playlist {
  color: $black;
  padding: 3px 15px;
  border-radius: 11px;
  border: none;
  font-weight: bold;
  background: $yellow;
  font-family: "Nunito";
  text-decoration: none;
  font-weight: bold;
}

.yellow-button-small-playlist:hover {
  background: #a18426;
  color: $black;
  transition: .5s;
  border-radius: 11px;
  font-weight: bold;
  text-decoration: none;
}

.done-voting-button {
  background: $yellow;
  opacity: 0.8;
  font-size: 14px;
  padding: 8px 21px;
  border-radius: 6px;
  color: $black;
  font-family: "Nunito";
}

.don-voting-button:hover {
  background: #a18426;
  color: $black;
  opacity: 1;
}


.registration {
  text-align: center;
  margin-top: 45px;
}




.white-spotify-home{
  color: white;
  text-decoration: none;
  font-family: "Nunito";
  font-size: 25px;

}

.white-spotify-home:hover{
  color: white;
  text-decoration: none;
  font-family: "Nunito";
  font-size: 25px;


}


.connect:before {
  content: "\f1bc";
  font-size: 25px;
}

.forward {
  background-color: #242424;
  color: $yellow;
  margin: 10px;
  border-radius: 10px;
  padding: 6px;
  border: 1px solid $yellow;

}

.forward:hover {
  background: black;
  color: $yellow;;
  transition: .5s;
  text-decoration: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}


.yellow-btn-link-home {
  color: #FCCF35 !important;
  font-family: "Nunito";
  font-size: 20px;
}
