.yellow {
  color: $yellow;
}

.white-spotify {
  color: white;
  text-decoration: none;
  font-family: "Nunito";
}

.white-spotify:hover {
  color: white;
  text-decoration: none;
  font-family: "Nunito";

}
