.yellow {
  color: $yellow;
}

.white-spotify {
  color: white;
  text-decoration: none;
  font-family: "Nunito";
}

.white-spotify:hover {
  color: white;
  text-decoration: none;
  font-family: "Nunito";

}

.yellow-link-centered{
  color: $yellow;
  text-align: center;
  margin-top: 15px;
}
