.footer-container {
  margin-top: 40px;
  height: 10vh;
}

.footer{
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

h4 {
  color: $yellow;
  font-family: "Nunito";
  font-weight: 100;
  text-align: center;
  font-size: 13px;
  opacity: 0.25;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  color: $yellow;
  opacity: 0.25;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: white
}
