.figma {
  width: 60px;
  height: 40px;
}

.navbar-lewagon {
  display: flex;
  background: $yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.fa-user-check {
  color: black;
  font-size: 30px;
  text-align: center;
}



@media (max-width: 767px) {
  body {
      padding: 0;
  }
}


.navbar-nav {
  width: 20%;

}
