.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}

.back-img {
  position: absolute;
  top: 0;
  left: 0;  
  bottom: 0;
  right: 0;
  height: 108.5vw;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.flex-item {
  color: $yellow;
  font-family: "Nunito";
}

.song-img {
  margin: auto;
  height: 60vw;
  width: 60vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1
}

p {
  color: $yellow;
  font-family: "Nunito";
  opacity: 0.5;
}


.icons-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

button {
  background-color: transparent;
  border-color: transparent;
}

.fa-thumbs-up {
  color: green;
  font-size: 60px;
  opacity: 0.7;
}

.fa-thumbs-up:hover {
  transition: 1s;
  opacity: 1;
}

.fa-thumbs-down {
  color: red;
  font-size: 60px;  
  opacity: 0.7;
}

.fa-thumbs-down:hover {
  transition: 1s;
  opacity: 1;
}

h2 {
  color: $yellow;
  font-family: "Nunito";
  opacity: 0.7
}

.album-song {
  color: $yellow;
  opacity: 0.5;
}

