
<a href="/"> <i class="fa-solid fa-chevron-left"></i></a>

<h1 class="yellow" style="text-align:center;font-size:40px";">Untitled Playlist</h1>


<div class="container"></div>
<div class="playlist-cards">
  <%= render "shared/playlist-card" %>
</div>
<%= link_to "sync to your spotify", @authorize_spotify_link, a_target: "blank" %>
