<div class="flex-container">
  <div class= "back-img" style=" opacity: 0.09; background-image: url('<%= image_path @songs_query[0].image %>');">
  </div>
    <div class="flex-item yellow">
      <h1>TapeMix</h1>
    </div>
      
    <div class="song-img" style="background-image: url('<%= image_path @songs_query[0].image %>')">
    </div>
      <p> x songs remaining... </p>
    <div class="icons-container">
      <button><i class="fa-regular fa-thumbs-down"></i></button>
      <button><i class="fa-regular fa-thumbs-up"></i></button>
    </div>
      <h2> <%= @songs_query[0].artist %> </h2>
      <p class="album-song"> <%= @songs_query[0].name %> </p>
</div>

