<div class="sorry-flex">
  <h1 class="sorry">Sorry, <%= @playlist.name %> was already made!</h1>
  <div class="moving-cassette">
    <%= render "shared/casset" %>
  </div>


  <h2>Why don't you <%= link_to "sign up", new_user_registration_path, class: "sign-up-link"  %> and start a tape of your own.</h2>
</div>
