<div class="welcome-flexbox">
  <h3>TapeMix</h3>
  <p class="instructions"><%= @user.name %> is making a tape</p>

  <div class="user-image">

  </div>
  <br>
  <h4> Their tape is called: <%= @playlist.name %></h4>

  </div>
  <div class= "flex-button">
        <%= link_to "Start Voting", playlist_path(@playlist), class: "big-yellow-button"  %>
  </div>
  <div class="flex-button">
    <a href="https://www.wikihow.com/Listen-to-Music"><button class="no-button"> No Thanks</button></a>
  </div>
</div>
