
    <h3>Welcome to Tapemix!</h3>

  <p>Let's make a tape</p>
  <div class= "flex-button">
        <%= link_to "I Want to Start Voting", Playlist.find(params[:playlist_id]), class: "big-yellow-button"  %>
  </div>    
  <div class="flex-button">
    <a href="https://www.wikihow.com/Listen-to-Music"><button class="no-button"> No Thanks</button></a>
  </div>


