<a href="/playlists"> <i class="fa-solid fa-chevron-left"></i></a>
<%= render "shared/casset" %>
<br>
<br>
<h1 style="text-align: center">Thanks for your input</h1>
<br>
<br>
<h2 style="text-align: center">Sign up to make your own tape</h2>


<p style="text-decoration: underline;"><%= link_to "Register to make your tape!", new_user_registration_path, class:"yellow-btn-link" %></p>
<br>
<br>
<br>
<br>
